body {
  text-align: center;
  display: flex;
  justify-content: center;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.container {
  max-width: 550px;
}

.navbar {
  width: 550px;
  height: 55px;
  background: #f55a5a;
}

.nav--group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav--text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
  width: 109px;
  height: 16px;
}
